{% extends 'base.html' %}
{% load static %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'css/user-statistics.css' %}">
{% endblock %}
{% block content %}

<main class="statistics-layout">
    <div class="banner">
        <h1>ALBUM DISCUSSION STATISTICS</h1>
    </div>

    <div class="chart-container">
        <div class="chart">
            <h2>Reviews Per Album</h2>
            {% autoescape off %}
                {{ plot_html }}
            {% endautoescape %}
        </div>
        <div class="chart">
            <h2>Reviews Per User</h2>
            {% autoescape off %}
            {{ plot_html1 }}
        {% endautoescape %}
        </div>
        <div class="chart">
            <h2>Reviews Per Genre</h2>
            {% autoescape off %}
            {{ plot_html2 }}
        {% endautoescape %}
        </div>
        <div class="chart">
            <h2>Average Album Rating</h2>
            {% autoescape off %}
            {{ plot_html3 }}
        {% endautoescape %}
        </div>
    </div>
</main>

{% endblock %}