#add-artist {
    width: 100%;
}

#id_album_cover {
    width: auto;
    color: whitesmoke;
}

.helptext {
    color: whitesmoke;
}

.help-info {
    color: whitesmoke;
    text-align: center;
}

.help-info > i {
    color: gold
}

#search-results-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-results {
    padding: 1rem;
    width: 50%;
    background-color: whitesmoke;
    color: black;
    min-height: 20rem;
}

/* Animation while page loads results from API */

.load-spinner {
    animation: load-spinner 1.2s linear infinite;
    font-size: 2.5rem;
}

@keyframes load-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Animate the forms being chosen */

.fade-in-form {
    animation: fade-in-form .5s forwards;
}

.fade-out-form {
    animation: fade-out-form .5s forwards
}

@keyframes fade-in-form {
    from {
        opacity: 0;
        transform: translateX(-500px)
    }
    to {
        opacity: 1;
        transform: translateX(0px)
    }
}

@keyframes fade-out-form {
    from {
        opacity: 1;
        transform: translateX(0px)
    }
    to{
        opacity: 0;
        transform: translateX(500px)
    }
}