#add-artist {
    width: 100%;
}

#id_album_cover {
    width: auto;
    color: whitesmoke;
}

.helptext {
    color: whitesmoke;
}

.help-info {
    color: whitesmoke;
    text-align: center;
}

.help-info > i {
    color: gold
}