.main-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: 80%;
    margin-left: 10%;
    background-color: rgba(19, 20, 20, 0.85);
    padding: 3rem;
}

.full-span {
    grid-column: span 5;
}

.span-1 {
    grid-column: span 1;
}

.profile-card {
    padding-top: .6rem;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px #b3b3b3;
}

.card-img {
    height: 100px;
    display: flex;
    justify-content: center;
}

.card-img img {
    height: 100%;
    border-radius: 25px;
}

.card-body {
    display: flex;
    justify-content: flex-start;
    gap: 0;
    height: auto;
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    padding: 0 .4rem;
}

.link {
    color: #EE4B2B;
    cursor: pointer;
}

.link:hover {
    color: grey;
}

/* User Profile Styles */

.user-profile-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    min-height: 95vh;
    gap: 1.5rem;
    margin-top: 3rem;
    padding: 0 2rem;
}

.user-banner {
    display: flex;
    justify-content: center;
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-end: 2;
    background-color: gold;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 5px #585858;
    padding: .8rem;
}

.user-banner > h1 {
    font-family: 'Eczar', serif;
    font-size: 2.2rem;
}

.image-wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

.image-wrapper > img {
    max-height: 200px;
    background: whitesmoke;
    box-shadow: 5px 5px 15px 5px #b3b3b3;
    border-radius: 10%;
}

.user-info {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 9;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 10%;
    box-shadow: 5px 5px 15px 5px #000000;
    padding: 1rem;
}

.user-profile-card {
    margin-top: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: whitesmoke;
}

.user-profile-card > h2 {
    color: gold;
    font-family: 'Eczar', serif;
    font-size: 1.3rem;
    margin-top: 1rem;
}

.info-div {
    display: flex;
    justify-content: space-between;
}

.info-div > p {
    color: whitesmoke;
}

.info-div > p > span {
    color: gold;
    font-family: 'Eczar', serif;
    font-size: 1.1rem;
}

.recently-viewed {
    padding: 1rem;
}
.recently-viewed li {
    color: whitesmoke;
    padding: .2rem 0;
}

.recently-viewed > li > a {
    color: gold;
    text-decoration: none;
}

.recently-viewed > li > a:hover {
    color: #EE4B2B;
    text-decoration: underline;
}

.user-content {
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 8;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    
}

.follows-section {
    grid-column-start: 11;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 8;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 10%;
    box-shadow: 5px 5px 15px 5px #000000;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.follows-section > h2 {
    color: gold;
    font-family: 'Eczar', serif;
    font-size: 1.8rem;
}

.follows-card {
    border-radius: 25px;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 3px 3px 7px 3px #000000;
}

.follows-card > div {
    padding-left: .3rem;
    justify-content: flex-start;
    align-items: center;
    gap: .3rem;
}

@media screen and (max-width: 1315px) {
    .main-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 675px) {
    .main-grid {
        grid-template-columns: 1fr;
        width: 100%;
        margin: 0%;
    }
}