/* General Styles */

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arapey', serif;
}

body {
    background-image: url('/media/music-background.jpg');
    background-size: cover;
}

.title {
    font-family: 'Eczar', serif;
    color: gold;
    font-size: 2.5rem;
}

.btn {
    border-radius: 10px;
    color: black;
    background-color: gold;
    height: 1.7rem;
    cursor: pointer;
    font-size: 1.3rem;
    box-shadow: 5px 5px 15px 5px #000000;
}

.btn:hover {
    color: #EE4B2B;
    background-color: black;
}

input {
    height: 1.7rem;
    border-radius: 10px;
}

.hide {
    display: none;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.top-margin {
    margin-top: .7rem;
}

/* Nav Styles */

.title span {
    color: #EE4B2B;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 4rem;
    align-items: center;
    padding: 0 5%;
}

.links {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.links a {
    text-decoration: none;
    color: gold;
    font-size: 1.5rem;
}

.links a:hover {
    color: #EE4B2B;
    text-decoration: underline;
}

.search-form {
    display: flex;
    align-items: center;
}

/* Style for the review list */

.container-dark {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: hsl(170, 5%, 35%, 0.3);
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px #000000;
    padding: 2rem 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px #000000;
    padding: 0 .5rem 1rem .5rem;
    overflow: hidden;
    line-height: 1.5rem
}

.card-image {
    width: 100;
}

.main-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.page-heading {
    font-family: 'Eczar', serif;
    color: gold;
    font-size: 2.5rem;
    margin: 2rem 0;
}

.card-btn {
    padding: 0.4rem;
    border: 2px solid #EE4B2B;
    text-decoration: none;
    height: auto;
}

.card-footer {
    padding: .5rem 0;
}