{% extends 'base.html' %}
{% load static %}
{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/profiles.css' %}">
{% endblock %}
{% block content %}
<section class="user-profile-grid">
    <div class="user-banner">
        <h1>Welcome to {{ user }} Profile </h1>
    </div>
    <div class="user-info">
        <div class="image-wrapper">
            {% if profile.profile_pic%}
                <img src="{{ MEDIA_URL }}{{ profile.profile_pic }}" alt="Profile banner image">
            {% else %}
                <img src="{{ MEDIA_URL }}user-alt.png" alt="Profile banner image">
            {% endif %}
        </div>
        <div class="user-profile-card">
            <div class="info-div">
                <p>Username :<span>{{ profile.user }}</span></p>
            </div>
            <div class="info-div">
                <p>First Name :<span>{{ profile.first_name }}</span></p>
            </div>
            <div class="info-div">
                <p>Last name: <span>{{ profile.last_name }}</span></p>
            </div>
            <div class="info-div">
                <p>Favourite Genre: <span>{{ profile.favourite_genre }}</span></p>
            </div>
            <div class="info-div">
                <p>No. of Reviews: <span>{{ no_of_reviews }}</span></p>
            </div>
            <div class="info-div">
                <p>Joined: <span>{{ time_since_joined }}</span></p>
            </div>
            <h2>Last 5 viewed albums</h2>
            <ul class="recently-viewed">
                {% for id, name in recently_viewed %}
                    <li><a href="{% url 'album_view' id %}">{{ name }}</a></li>
                {% endfor %}
            </ul>
        </div>

    </div>
    <div class="user-content">

    </div>

    <section class="follows-section">
        <h2>Follows</h2>
        {% for person in follows %}
        <div class="profile-card follows-card">
            <div class="card-img">
                {% if person.profile_pic %}
                <img src="{{ MEDIA_URL }}{{ person.profile_pic }}" alt="Followers Profile Pic">
                {% else %}
                <img src="{{ MEDIA_URL }}user-alt.png" alt="Default profie image">
                {% endif %}
                <p>{{ person }}</p>
            </div>
        </div>
        {% endfor %}
    </section>

</section>
{% endblock %}