{% extends 'base.html' %}
{% load static %}
{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/profiles.css' %}">
{% endblock %}
{% block content %}
<main class="user-profile-grid">
    <div class="user-banner">
        <h1>Welcome to {{ profile.user }}'s Profile </h1>
    </div>
    <div class="user-info">
        <div class="image-wrapper">
            {% if profile.profile_pic%}
                <img src="{{ profile.profile_pic.url }}" alt="Profile banner image">
            {% else %}
                <img src="https://res.cloudinary.com/dyg53cwvw/image/upload/v1650445285/zfb6bvgg7fxkufup10zz.jpg" alt="Profile banner image">
            {% endif %}
        </div>
        <section class="user-profile-card">
            {% if request.user != profile.user and request.user.is_authenticated %}
                {% if request.user in profile.followers.all %}
                <a class="alt-btn" href="{% url 'follow' profile.id %}">Unfollow</a>
                {% else %}
                <a href="{% url 'follow' profile.id %}" class="alt-btn">Follow</a>
                {% endif %}
            {% endif %}
                
            <div class="info-div">
                <p>Username :<span>{{ profile.user }}</span></p>
            </div>
            <div class="info-div">
                <p>First Name :<span>{{ profile.first_name }}</span></p>
            </div>
            <div class="info-div">
                <p>Last name: <span>{{ profile.last_name }}</span></p>
            </div>
            <div class="info-div">
                <p>Favourite Genre: <span>{{ profile.favourite_genre }}</span></p>
            </div>
            <div class="info-div">
                <p>No. of Reviews: <span>{{ no_of_reviews }}</span></p>
            </div>
            <div class="info-div">
                <p>Joined: <span>{{ time_since_joined }}</span></p>
            </div>
            <h2>Followers</h2>
            <ul class="recently-viewed">
                {% for follower in followers %}
                    <li><a href="{% url 'user_profile' follower.profile.all.first.id %}">{{ follower }}</a></li>
                {% endfor %}
            </ul>
            {% if request.user == profile.user %}
            <h2>Last 5 viewed albums</h2>
            <ul class="recently-viewed">
                {% for id, name in recently_viewed %}
                    <li><a href="{% url 'album_view' id %}">{{ name }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </section>

    </div>
    <section class="user-content">
        <div class="content-select">
            <button class="content-button alt-btn" data-type="user">
                Reviews
            </button>
            <button class="content-button alt-btn" data-type="followers">
                Followers Reviews
            </button>
            <button class="content-button alt-btn" data-type="stats">
                Statistics
            </button>
        </div>
        <div class="menu-item hide fade" data-type="user">
            <h2>{{ profile.user }}'s Reviews</h2>
            <div class="user-content-grid">
                {% for review in user_reviews %}
                    <a class="review-link" href="{% url 'review' review.id %}">
                        <div class="content-card">
                            {% if review.album.album_cover %}
                                <img src="{{ review.album.album_cover.url }}" alt="{{ review.album }} Album Cover Picture">
                            {% else %}
                                <img src="https://res.cloudinary.com/dyg53cwvw/image/upload/v1650445285/zfb6bvgg7fxkufup10zz.jpg" alt="Default profie image">
                            {% endif %}
                            <div class="content-card-body">
                                <p>{{ review.title }}</p>
                                <p>{{ review }}</p>
                                <p>Rated: {{ review.rating }}</p>
                                <p>{{ review.date_created_on }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="menu-item hide fade" data-type="followers">
            <h2>My Followers Reviews</h2>
            <div class="user-content-grid">
                {% for review in followers_reviews %}
                    <a class="review-link" href="{% url 'review' review.id %}">
                        <div class="content-card">
                            {% if review.album.album_cover %}
                                <img src="{{ review.album.album_cover.url }}" alt="{{ review.album }} Album Cover Picture">
                            {% else %}
                                <img src="https://res.cloudinary.com/dyg53cwvw/image/upload/v1650445285/zfb6bvgg7fxkufup10zz.jpg" alt="Default album image">
                            {% endif %}
                            <div class="content-card-body">
                                <p>{{ review.title }}</p>
                                <p>{{ review }}</p>
                                <p>Rated: {{ review.rating }}</p>
                                <p>{{ review.date_created_on }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="menu-item" data-type="stats">
            <h2>{{ profile.user }}'s Statistics</h2>
            <div class="chart-container">
                <div class="chart1">
                    {% autoescape off %}
                        {{ reviews_per_genre }}
                    {% endautoescape %}
                </div>
                <div class="chart2">
                    {% autoescape off %}
                    {{ ratings_per_album }}
                {% endautoescape %}
                </div>
            </div>

        </div>
     

    </section>

    <section class="profile-form">
        <h2 class="logo">Edit Profile Details</h2>
        {% if request.user == profile.user %}
        <form enctype="multipart/form-data" method="post" class="center-container">
            {% csrf_token %}
            {{ profile_form.as_p }}
            <input type="submit" value="Update" class="alt-btn">
        </form>
        {% else %}
        <p>Only Profile owners can edit their profile</p>
        {% endif %}
    </section>

    <section class="follows-section">
        <h2>Follows</h2>
        {% for person in follows %}
            <a class="follow-link" href="{% url 'user_profile' person.id %}">
                <div class="profile-card follows-card">
                    <div class="card-img">
                        {% if person.profile_pic %}
                        <img src="{{ person.profile_pic.url }}" alt="Followers Profile Pic">
                        {% else %}
                        <img src="https://res.cloudinary.com/dyg53cwvw/image/upload/v1650445285/zfb6bvgg7fxkufup10zz.jpg" alt="Default profie image">
                        {% endif %}
                        <p>{{ person }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </section>

</main>
{% endblock %}

{% block postloadjs %}
    <script src="{% static 'js/profiles.js' %}"></script>
{% endblock %}