{% extends 'base.html' %}
{% load static %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'css/advanced-search.css' %}">
<link rel="stylesheet" href="{% static 'css/add-review.css' %}">
{% endblock %}
{% block content %}
<main class="main-wrapper">
    <h1 class="title top-margin">Add a Review</h1>
    <br>
    <div class="container-dark">
        <button id="add-artist-btn" data-type="Artist" class="alt-btn add-btn">Add Artist</button>
        <div class="width-100 hide" id="add-artist">
            <div class="title-container">
                <h2 class="title">Add an Artist</h2>
            </div>
            <form class="center-container" action="{% url 'add_artist' %}" method="post">
                {% csrf_token %}
                {{ artist_form.as_p }}
                <button class="btn" type="submit">Add</button>
            </form>
        </div>
        <button id="add-genre-btn" data-type="Genre" class="alt-btn add-btn">Add Genre</button>
        <div class="width-100 hide" id="add-genre">
            <div class="title-container">
                <h2 class="title">Add a Genre</h2>
            </div>
            <form class="center-container" action="{% url 'add_genre' %}" method="post">
                {% csrf_token %}
                {{ genre_form.as_p }}
                <button class="btn" type="submit">Add</button>
            </form>
        </div>
        <button id="add-record-company-btn" data-type="Record Label" class="alt-btn add-btn">Add Record Label</button>
        <div class="width-100 hide" id="add-genre">
            <div class="title-container">
                <h2 class="title">Add a Record Label</h2>
            </div>
            <form class="center-container" action="{% url 'add_record_label' %}" method="post">
                {% csrf_token %}
                {{ record_company_form.as_p }}
                <button class="btn" type="submit">Add</button>
            </form>
        </div>
    </div>
    <br>
    <div class="top-margin">
        <a href="{% url 'album_list' %}" class="btn card-btn">Back to Albums</a>
        <a href="{% url 'review_list' %}" class="btn alt-btn">Back to Reviews</a>
    </div>
    <br>
</main>
{% endblock %}

{% block postloadjs %}
<script src="{% static  'js/add_review.js' %}"></script>
{% endblock %}