{% extends 'base.html' %} {% load static %} {% block extracss %}
<link rel="stylesheet" href="{% static 'css/advanced-search.css' %}" />
<link rel="stylesheet" href="{% static 'css/add-review.css' %}" />
{% endblock %} {% block content %}
<main class="main-wrapper">
  <h1 class="title top-margin">Add a Review</h1>
  <br />

  <!-- Review Form -->

  <div class="container-dark form-div" data-type="Review">
    <button
      id="add-record-company-btn"
      data-type="Record Label"
      class="alt-btn add-btn"
    >
      Add Record Label
    </button>
    <button id="add-artist-btn" data-type="Artist" class="alt-btn add-btn">
      Add Artist
    </button>
    <button id="add-genre-btn" data-type="Genre" class="alt-btn add-btn">
      Add Genre
    </button>
    <button id="add-album-btn" data-type="Album" class="alt-btn add-btn">
      Add Album
    </button>
    <div class="width-100" id="add-review">
      <div class="title-container">
        <p class="helptext">
          <i class="fas fa-arrow-up"></i> Do not see the Album you want in the
          Dropdown Menu? Just add any information you want here
          <i class="fas fa-arrow-up"></i>
        </p>
      </div>
      <div class="title-container">
        <h2 class="title">Add a Review</h2>
      </div>
      <form
        class="center-container"
        action="{% url 'add_review' %}"
        method="post"
      >
        {% csrf_token %} {{ review_form.as_p }}
        <button class="btn" type="submit">Add</button>
      </form>
    </div>
  </div>

  <!-- Add Artist form-->

  <div class="container-dark form-div hide start-left" data-type="Artist">
    <button
      id="add-record-company-btn"
      data-type="Record Label"
      class="alt-btn add-btn"
    >
      Add Record Label
    </button>
    <button id="add-album-btn" data-type="Album" class="alt-btn add-btn">
      Add Album
    </button>
    <button id="add-genre-btn" data-type="Genre" class="alt-btn add-btn">
      Add Genre
    </button>
    <button id="add-review-btn" data-type="Review" class="alt-btn add-btn">
      Add Review
    </button>
    <div class="width-100" id="add-artist">
      <div class="title-container">
        <h2 class="title">Add an Artist</h2>
      </div>
      <form
        class="center-container"
        action="{% url 'add_artist' %}"
        method="post"
      >
        {% csrf_token %} {{ artist_form.as_p }}
        <button class="btn" type="submit">Add</button>
      </form>
    </div>
  </div>

  <!-- Add Genre Form-->

  <div class="container-dark form-div hide start-left" data-type="Genre">
    <button
      id="add-record-company-btn"
      data-type="Record Label"
      class="alt-btn add-btn"
    >
      Add Record Label
    </button>
    <button id="add-album-btn" data-type="Album" class="alt-btn add-btn">
      Add Album
    </button>
    <button id="add-artist-btn" data-type="Artist" class="alt-btn add-btn">
      Add Artist
    </button>
    <button id="add-review-btn" data-type="Review" class="alt-btn add-btn">
      Add Review
    </button>
    <div class="width-100" id="add-genre">
      <div class="title-container">
        <h2 class="title">Add a Genre</h2>
      </div>
      <form
        class="center-container"
        action="{% url 'add_genre' %}"
        method="post"
      >
        {% csrf_token %} {{ genre_form.as_p }}
        <button class="btn" type="submit">Add</button>
      </form>
    </div>
  </div>

  <!-- Add Album Form -->

  <div class="container-dark form-div hide start-left" data-type="Album">
    <button
      id="add-record-company-btn"
      data-type="Record Label"
      class="alt-btn add-btn"
    >
      Add Record Label
    </button>
    <button id="add-genre-btn" data-type="Genre" class="alt-btn add-btn">
      Add Genre
    </button>
    <button id="add-artist-btn" data-type="Artist" class="alt-btn add-btn">
      Add Artist
    </button>
    <button id="add-review-btn" data-type="Review" class="alt-btn add-btn">
      Add Review
    </button>
    <div class="width-100" id="add-album">
      <div class="title-container">
        <h2 class="title">Add an Album</h2>
      </div>
      <form
        class="center-container"
        action="{% url 'add_album' %}"
        method="post"
      >
        {% csrf_token %} {{ album_form.as_p }}
        <button class="btn" type="submit">Add</button>
      </form>
    </div>
  </div>

  <!-- Add Record Label Form -->

  <div class="container-dark form-div hide start-left" data-type="Record Label">
    <button
      id="add-album-btn"
      data-type="Album"
      class="alt-btn add-btn"
    >
      Add Album
    </button>
    <button id="add-genre-btn" data-type="Genre" class="alt-btn add-btn">
      Add Genre
    </button>
    <button id="add-artist-btn" data-type="Artist" class="alt-btn add-btn">
      Add Artist
    </button>
    <button id="add-review-btn" data-type="Review" class="alt-btn add-btn">
      Add Review
    </button>
    <div class="width-100" id="add-record-label">
      <div class="title-container">
        <h2 class="title">Add a Record Label</h2>
      </div>
      <form
        class="center-container"
        action="{% url 'add_record_label' %}"
        method="post"
      >
        {% csrf_token %} {{ record_company_form.as_p }}
        <button class="btn" type="submit">Add</button>
      </form>
    </div>
  </div>

  <br />
  <section id="wiki-section">
    <p class="width-100 help-info">
      <i class="fas fa-arrow-down"></i> Unsure of the correct Data to enter?
      Search here for the album info <i class="fas fa-arrow-down"></i>
    </p>
    <form class="wiki-search-form" id="search-info-form">
      <label for="search" class="hide"> Search For Album Info </label>
      <input id="search-data" name="search-data" />
      <button id="search-data-btn" class="btn" type="submit">
        Search for Info
      </button>
    </form>
    <div class="width-100 center-container hide" id="spinner-div">
      <i class="load-spinner fas fa-compact-disc"></i>
    </div>
    <div class="hide" id="search-results-container">
        <div id="search-results">
        <h3 class="search-title"></h3>
        <p class="search-text"></p>
        </div>
    </div>
    <div class="top-margin">
      <a href="{% url 'album_list' %}" class="btn card-btn">Back to Albums</a>
      <a href="{% url 'review_list' %}" class="btn alt-btn">Back to Reviews</a>
    </div>
    <br />
  </section>
</main>
{% endblock %} {% block postloadjs %}
<script src="{% static  'js/add_review.js' %}"></script>
{% endblock %}
