{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="main-wrapper">
    <h1 class="title top-margin">Album Details</h1>
    <br>
    <br>
    <div class="album-wrapper">
        <div class="album-image">
            <img src="{{MEDIA_URL }}{{ album.album_cover }}" alt="Album cover of {{ album }}">
        </div>
        <div class="album-body">
            <p class="title">{{ album|title }}</p>
            <p><small>By: </small>{{ album.artist }}</p>
            <p><small>Year of Release:  </small> {{ album.year_of_release }}</p>
            <p><small>Genre: </small>{{ album.genre }}</p>
            <p><small>Label: </small>{{ album.record_company }}</p>
        </div>
    </div>
    <br>
    <br>
    <div class="container-dark top-margin">
        <div class="title-container">
            <h2 class="title">Reviews</h2>
        </div>
        {% for review in reviews %}
        <div class="card">
            <div class="card-body top-margin">
                <p>{{ review.title|title }}</p>
                <p><small>Reviewed by: </small>{{ review.creator }}</p>
                <p><small>On </small> {{ review.date_created_on }}</p>
            </div>
            <div class="card-footer">
                <p class="rated">Rated:</p>
                {% for i in review.rating|get_range %}
                    {% if review.rating < 6 %}
                        <span class="vinyl"><i class="fas fa-compact-disc"></i></span>
                    {% else %}
                        <span class="vinyl"><i class="fas fa-record-vinyl"></i></span>
                    {% endif %}
                {% endfor %}
                <div class="center-container top-margin">
                    <a href="{% url 'review' review.id %}" class="btn card-btn">Read Here</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
    <div class="top-margin">
        <a href="{% url 'album_list' %}" class="btn card-btn">Back to Albums</a>
        <a href="{% url 'review_list' %}" class="btn alt-btn">Back to Reviews</a>
    </div>
    <br>
</main>
{% endblock %}

{% block postloadjs %}
    <script src="{% static 'js/review_list.js' %}"></script>
{% endblock %}