{% extends 'base.html' %} {% load static %} {% block extracss %}
<link rel="stylesheet" href="{% static 'css/advanced-search.css' %}" />
<link rel="stylesheet" href="{% static 'css/add-review.css' %}" />
{% endblock %} {% block content %}
<main class="main-wrapper">
  <h1 class="title top-margin">Edit your Review</h1>
  <br />

  <!-- Review Form -->

  <div class="container-dark form-div" data-type="Review">
    
    <div class="width-100" id="add-review">
      <div class="title-container">
        <h2 class="title">Edit {{ initial_form.creator}}'s review</h2>
      </div>
      <form
        class="center-container"
        action="{% url 'edit_review' initial_form.id %}"
        method="post"
      >
        {% csrf_token %} {{ review_form.as_p }}
        <button class="btn" type="submit">Add</button>
      </form>
    </div>
  </div>

  <br />
  <section id="wiki-section">
    <p class="width-100 help-info">
      <i class="fas fa-arrow-down"></i> Unsure of the correct Data to enter?
      Search here for the album info <i class="fas fa-arrow-down"></i>
    </p>
    <form class="wiki-search-form" id="search-info-form">
      <label for="search" class="hide"> Search For Album Info </label>
      <input id="search-data" name="search-data" />
      <button id="search-data-btn" class="btn" type="submit">
        Search for Info
      </button>
    </form>
    <div class="width-100 center-container hide" id="spinner-div">
      <i class="load-spinner fas fa-compact-disc"></i>
    </div>
    <div class="hide" id="search-results-container">
        <div id="search-results">
        <h3 class="search-title"></h3>
        <p class="search-text"></p>
        </div>
    </div>
    <div class="top-margin">
      <a href="{% url 'album_list' %}" class="btn card-btn">Back to Albums</a>
      <a href="{% url 'review_list' %}" class="btn alt-btn">Back to Reviews</a>
    </div>
    <br />
  </section>
</main>
{% endblock %} {% block postloadjs %}
<script src="{% static  'js/edit_review.js' %}"></script>
{% endblock %}