{% extends 'base.html' %}

{% load static %}

{% block content %}

<main id="main-grid">

    <section id="latest-reviews">
        <h2 class="top-title">Latest Reviews</h2>
        <br>
        {% for review in latest_reviews %}
        <div class="card-body flip-card latest-reviews-card">
            <div class="card-inner">
                <div class="top-profile-img card-front">
                    <img src="{{ MEDIA_URL }}{{ review.album.album_cover }}" alt="Reviewers Profile Pic">
                    <div class="card-text">
                        <p>{{ review.album.artist }}</p>
                        <p>{{ review.album }}</p>
                    </div>
                </div>
                <div class="card-text no-padding card-back">
                    <p>Review by: {{ review.creator }}</p>
                    <p> Rated: {{ review.rating }}</p>
                    <a href="#">Read Review</a>
                </div>
            </div>
        </div>
        <br>
        <br>
        {% endfor %}
    </section>

    <section id="main-content">
        <div id="welcome">
            <h1>
                Welcome To ALBUM|<span>DISC</span>ussion
            </h1>
            <p>
                A place where you can come to check out the latest reviews left by or very knowlegable members.
                Feel free to like and comment on the review, maybe you do not agree with the review or the rating so why not latest-reviews
                your own review and see how the community responds! Create a Profile browse the albums in which you want to review.
                If you do not see an artist or an album go ahead and add them. You can find all the album info you need by using our search feature, just type the band and album and 
                it will redirect to the wikipedia page. But most importantly have fun and be inspired for your next album listen
            </p>
        </div>
        <div id="check-reviews" class="main-cards">
            <div class="reviews-card-img card-fade"></div>
            <a href="{% url 'review_list' %}" class="content-btn">See Our Reviews</a>
        </div>
        <div id="check-albums" class="main-cards">
            <div class="albums-card-img card-fade"></div>
            <a href="{% url 'album_list' %}" class="content-btn">See Our Albums</a>
        </div>
        <div id="add-review-card" class="main-cards">
            <div class="add-review-card-img card-fade"></div>
            <a href="{% url 'add_review' %}" class="content-btn">Review An Album</a>
        </div>
        <div id="check-profiles" class="main-cards">
            <div class="profiles-card-img card-fade"></div>
            <a href="{% url 'profile_list' %}" class="content-btn">See Our Community</a>
        </div>
    </section>

    <section id="top-profiles">
        <h2 class="top-title">Top Profiles</h2>
        <br>
        {% for profile in top_profiles %}
        <div class="card-body flip-card top-profiles-card">
            <div class="card-inner">
                <div class="profile-img card-front">
                    {% if profile.profile.profile_pic %}
                    <img src="{{ MEDIA_URL }}{{ profile.profile.profile_pic }}" alt="Reviewers Profile Pic">
                    {% else %}
                    <img src="{{ MEDIA_URL }}user-alt.png" alt="profile image">
                    {% endif %}
                    <p>{{ profile.profile }}</p>
                </div>
                <div class="card-text no-padding card-back">
                    <p>{{ profile.profile.user }}</p>
                    <p>Reviews: {{ profile.no_of_reviews }}</p>
                    <a href="#">View</a>
                </div>
            </div>
        </div>
          <!-- Top profiles for mobile view-->
        <a id="mobile-top-profiles" title="{{ profile.profile }}" class="profile-img hide" href="#">
            {% if profile.profile.profile_pic %}
            <img src="{{ MEDIA_URL }}{{ profile.profile.profile_pic }}" alt="Reviewers Profile Pic">
            {% else %}
            <img src="{{ MEDIA_URL }}user-alt.png" alt="profile image">
            {% endif %}
        </a>
        <br>
        <br>
        {% endfor %}
    </section>

    <!-- Top profiles for mobile view-->
    <a title="{{ profile.profile }}" class="profile-img hide" href="#">
        {% if profile.profile.profile_pic %}
        <img src="{{ MEDIA_URL }}{{ profile.profile.profile_pic }}" alt="Reviewers Profile Pic">
        {% else %}
        <img src="{{ MEDIA_URL }}user-alt.png" alt="profile image">
        {% endif %}
    </a>
</main>
{% block postloadjs %}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% endblock %}