{% extends 'base.html' %}

{% block content %}

<section id="main-grid">

    <div id="latest-reviews">
        <h2 class="top-title">Latest Reviews</h2>
        <br>
        {% for review in latest_reviews %}
        <div class="card-body flip-card latest-reviews-card">
            <div class="card-inner">
                <div class="top-profile-img card-front">
                    <img src="{{ MEDIA_URL }}{{ review.album.album_cover }}" alt="Reviewers Profile Pic">
                    <div class="card-text">
                        <p>{{ review.album.artist }}</p>
                        <p>{{ review.album }}</p>
                    </div>
                </div>
                <div class="card-text no-padding card-back">
                    <p>Review by: {{ review.creator }}</p>
                    <p> Rated: {{ review.rating }}</p>
                    <a href="#">View</a>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <br>
        {% endfor %}
    </div>

    <div id="top-profiles">
        <h2 class="top-title">Top Profiles</h2>
        <br>
        {% for profile in top_profiles %}
        <div class="card-body flip-card">
            <div class="card-inner">
                <div class="profile-img card-front">
                    {% if profile.profile.profile_pic %}
                    <img src="{{ MEDIA_URL }}{{ profile.profile.profile_pic }}" alt="Reviewers Profile Pic">
                    {% else %}
                    <img src="{{ MEDIA_URL }}user-alt.png" alt="profile image">
                    {% endif %}
                    <p>{{ profile.profile }}</p>
                </div>
                <div class="card-text no-padding card-back">
                    <p>{{ profile.profile.user }}</p>
                    <p>Reviews: {{ profile.no_of_reviews }}</p>
                    <a href="#">View</a>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <br>
        {% endfor %}
    </div>
</section>

{% endblock %}