{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="main-wrapper">
    <h1 class="page-heading">Reviews</h1>
    <div class="container-dark">
        {% for review in reviews %}
        <div class="card">
            <div class="card-image">
                <img src="{{MEDIA_URL }}{{ review.album.album_cover }}" alt="Album cover of {{ review.album }}">
            </div>
            <div class="card-body top-margin">
                <p>{{ review.album|title }}</p>
                <p><small>By: </small>{{ review.album.artist }}</p>
                <p><small>Reviewed by: </small>{{ review.creator }}</p>
                <p><small>On </small> {{ review.date_created_on }}</p>
            </div>
            <div class="card-footer">
                <p class="rated">Rated:</p>
                {% for i in review.rating|get_range %}
                    {% if review.rating < 6 %}
                        <span class="vinyl"><i class="fas fa-compact-disc"></i></span>
                    {% else %}
                        <span class="vinyl"><i class="fas fa-record-vinyl"></i></span>
                    {% endif %}
                {% endfor %}
                <div class="center-container top-margin">
                    <a href="#" class="btn card-btn">Read Here</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}

{% block postloadjs %}
    <script src="{% static 'js/review_list.js' %}"></script>
{% endblock %}